/* REQUIRE CSS */
div {
    /* let IE6 to display balloon well */
    zoom: 1;
}
/* Function::Fukidashi */
div.user-area div.BOX-balloon {
    margin-bottom: 5px;
}
 /* display an image on the left */
div.user-area div.BOX-balloon-left div.BOX-balloon-image {
    float: left;
}

div.user-area div.BOX-balloon-image img {
    width: 60px;
    height: 60px;
    border : 0px;
}

div.user-area div.BOX-balloon-text {
    line-height: 1.3;
}

div.user-area div.BOX-balloon-left div.BOX-balloon-text {
    margin-left: 65px;
}

div.user-area div.BOX-balloon-left div.balloon-top {
    padding-left: 14px;
    background: url(../images/function/fukidashi/left_top_l.gif) no-repeat scroll 0 0;
}

div.user-area div.BOX-balloon-left div.balloon-top-inner {
    height: 10px;
    background: url(../images/function/fukidashi/left_top_r.gif) no-repeat scroll 100% 0;
}

div.user-area div.BOX-balloon-left div.balloon-body {
    background: url(../images/function/fukidashi/left_body_l.gif) repeat-y scroll 0 0;
}

div.user-area div.BOX-balloon-left div.balloon-body-inner {
    padding-left: 11px;
    background: url(../images/function/fukidashi/left.gif) no-repeat scroll 0 0;
}

div.user-area div.BOX-balloon-left div.balloon-body-inner2 {
    padding: 0 10px 5px;
    border-right: 1px solid #a2a2a2;
    background-color: #fff;
}

div.user-area div.BOX-balloon-left div.balloon-bottom {
    padding-left: 14px;
    background: url(../images/function/fukidashi/left_bottom_l.gif) no-repeat scroll 0 0;
}

div.user-area div.BOX-balloon-left div.balloon-bottom-inner {
    height: 10px;
    background: url(../images/function/fukidashi/left_bottom_r.gif) no-repeat scroll 100% 0;
}

 /* display an image on the right */
div.user-area div.BOX-balloon-right div.BOX-balloon-image {
    float: right;
}

div.user-area div.BOX-balloon-right div.BOX-balloon-text {
    margin-right: 65px;
}

div.user-area div.BOX-balloon-right div.balloon-top  {
    padding-left: 4px;
    background: url(../images/function/fukidashi/right_top_l.gif) no-repeat scroll 0 0;
}

div.user-area div.BOX-balloon-right div.balloon-top-inner {
    height: 10px;
    background: url(../images/function/fukidashi/right_top_r.gif) no-repeat scroll 100% 0;
}

div.user-area div.BOX-balloon-right div.balloon-body {
    background: url(../images/function/fukidashi/right_body_r.gif) repeat-y scroll 100% 0;
}

div.user-area div.BOX-balloon-right div.balloon-body-inner {
    padding-right: 11px;
    background: url(../images/function/fukidashi/right.gif) no-repeat scroll 100% 0;
}

div.user-area div.BOX-balloon-right div.balloon-body-inner2 {
    padding: 0 10px 5px;
    border-left: 1px solid #a2a2a2;
    background-color: #fdffe0;
}

div.user-area div.BOX-balloon-right div.balloon-bottom {
    padding-left: 4px;
    background: url(../images/function/fukidashi/right_bottom_l.gif) no-repeat scroll 0 0;
}

div.user-area div.BOX-balloon-right div.balloon-bottom-inner {
    height: 10px;
    background: url(../images/function/fukidashi/right_bottom_r.gif) no-repeat scroll 100% 0;
}

div.user-area div.BOX-balloon-image {
    widht: 60px;
    height: 60px;
}
/* Block::Toggle */
div.user-area div.toggle-display {
    margin-bottom: 5px;
    padding-left: 22px;
}

div.user-area div.toggle-title a {
    float: left;
    display: block;
    height: 17px;
}

div.user-area a.toggle-link-open {
    background: url(../images/block/toggle/icon_open.gif) no-repeat;
}

div.user-area a.toggle-link-close {
    background: url(../images/block/toggle/icon_close.gif) no-repeat;
}

/******/

div.user-area {
    line-height: 1.5;
}

/* Block::Blockquote,  Block::CopyAndPaste, Block::Pre */
div.user-area blockquote,
div.user-area pre {
    padding: 1em;
    border: 1px solid #888;
    background-color: #eee;
}

div.user-area pre.AA
div.user-area pre.AAS {
    line-height: 18px;
    letter-spacing: 0px;
    /* Hope you have these Japanese fonts :-) */
    font-family: 'MS PGothic', IPAMonaPGothic, Mona;
    font-size: 12px;
}

div.user-area pre.prettyprint,
div.user-area pre.AAS {
    overflow: auto;
}

 /* for IE7 */
*:first-child+html pre.prettyprint,
*:first-child+html pre.AAS {
    overflow-y: visible;
    overflow-x: scroll;
}

 /* for IE6 or older version */
*html pre.prettyprint,
*html pre.AAS {
    /*width: 95%;*/
    overflow-x: scroll;
}

/* Block::DL */
div.user-area dl dt {
    margin-top: 1em;
    font-weight: bold;
}

div.user-area dl dd {
    margin-left: 10px;
}

/* Block::H3, Block::H4, Block::H5 */
div.user-area h3,
div.user-area h4,
div.user-area h5 {
    margin: 12px 0px;
    color: #069;
}

div.user-area h3 {
    font-size: large;
}

div.user-area h4 {
    font-size: medium;
}

div.user-area h5 {
    font-size: medium;
    font-style: italic;
}

/* Block::Line */
div.user-area hr {
    background-color: 1px solid #888;
}

/* Block::Ol */
div.user-area ol {
    padding-left: 20px;
}

div.user-area ol.list-1 {
    list-style-type: decimal;
}

div.user-area ol.list-2 {
    list-style-type: lower-roman;
}

div.user-area ol.list-3 {
    list-style-type: lower-alpha;
}

/* Block::Table */
div.user-area table {
    margin: 10px 0px;
    border-collapse: collapse;
    border-spacing: 0;
    /* In some browsers, table font-size is not inherited unless otherwise speified to. */
    font-size: inherit;
}

div.user-area table tr th {
    background-color: #069;
    color: #fff;
}

div.user-area table tr th,
div.user-area table tr td {
    padding: 5px;
    border: 1px solid #069;
}


div.user-area p {
    margin: 0px 0px 10px 22px;
}

/* Block::Ul */
div.user-area ul.list-1 li,
div.user-area ul.list-2 li,
div.user-area ul.list-3 li {
    margin-bottom: 5px;
    padding-left: 20px;
}

div.user-area ul.list-1 {
    list-style-type: disc;
    margin: 10px 0;
}

div.user-area ul.list-2 {
    list-style-type: circle;
}

div.user-area ul.list-3 {
    list-style-type: square;
}

/* Function::Size */
div.user-area span.fsize {
    line-height: 1.3;
}
