@charset "UTF-8";

/*
 
 NAVI

*/

ul#navi {
    margin: 0 0 0 0;
    padding: 0;
    line-height: 1;
    list-style-type: none;
}

ul#navi li {
    margin: 0;
    padding: 0;
    float: left;
    /*
    width: 110px;
    */
    text-align: center;
}

ul#navi li a {
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    padding: 9px 20px;
    display: block;
    position: relative; /* for IE6 */
    color: #000;
    background-color: #ccc;
    text-decoration: none;
}

ul#navi li a:hover,
ul#navi li.current a {
    color: #000;
    background-color: #fff;
}

p.pankuzu {
margin:0 30px 10px;
padding-top: 8px;
}
p.pankuzu span.current {
background-color:#F5F5F5;
border:1px solid #DDDDDD;
color:#000000;
padding:1px 10px;
}

table.listing {
 clear: both;
 border-bottom: 1px solid #d7d7d7;
 border-collapse: collapse;
 border-spacing: 0;
 margin-top: 1em;
}
table.listing th { text-align: left; padding: 0 1em .1em 0; font-size: 12px }
table.listing thead { background: #f7f7f0 }
table.listing thead th {
 border: 1px solid #d7d7d7;
 border-bottom-color: #999;
 font-size: 11px;
 font-weight: bold;
 padding: 2px .5em;
 vertical-align: bottom;
}
table.listing thead th :link:hover, table.listing thead th :visited:hover {
 background-color: transparent;
}
table.listing thead th a { border: none; padding-right: 12px }
table.listing th.asc a, table.listing th.desc a { font-weight: bold }
table.listing th.asc a, table.listing th.desc a {
 background-position: 100% 50%;
 background-repeat: no-repeat;
}
table.listing tbody td, table.listing tbody th {
 border: 1px dotted #ddd;
 padding: .3em .5em;
 vertical-align: top;
}
table.listing tbody td a:hover, table.listing tbody th a:hover {
 background-color: transparent;
}
table.listing tbody tr { border-top: 1px solid #ddd }
table.listing tbody tr.even { background-color: #fcfcfc }
table.listing tbody tr:hover { background: #eed !important }
table.listing tbody tr.disable { background-color: gray }

table.form {
        color: #666666;
        margin-bottom: 30px;
        border: 1px solid #CCCCCC;
        border-collapse: separate;
        border-spacing: 1px;
}
table.form th {
        padding: 5px;
        border-right: 1px solid #CCCCCC;
        border-bottom: 1px solid #CCCCCC;
        background-color: #E1E2E6;
}
table.form td {
        padding: 5px;
        text-align : left;
        border-right: 1px solid #CCCCCC;
        border-bottom: 1px solid #CCCCCC;
        background-color: #EFF2F3;
}

