[% INCLUDE header.inc mode='cms' %]
<div id="main">

<p class="pankuzu"><a href="/cms/">CMS</a> &gt; <a href="/cms/category/">カテゴリ管理</a> &gt; <span class="current">追加</span></p>

[% INCLUDE fvl.inc %]

<form method="post" aciton="/cms/category/add/">
[% INCLUDE 'cms/category/form.inc' %]
</form>

<div class="fixed"></div>
</div>

<div id="sidebar">

<div class="fixed"></div>
</div>
<div class="fixed"></div>
[% INCLUDE footer.inc %]
