[% INCLUDE header.inc mode='cms' %]
<div id="main-wide">

<p class="pankuzu"><a href="/cms/">CMS</a> &gt; <a href="/cms/category/">カテゴリ管理</a> &gt; <span class="current">[% entry_obj.name | html %]編集</span></p>

[% INCLUDE fvl.inc %]

<form method="post" aciton="/cms/category/[% entry_obj.id %]/edit/">
[% INCLUDE 'cms/category/form.inc' %]
</form>
</div>
<div class="fixed"></div>
[% INCLUDE footer.inc %]
