[% INCLUDE header.inc mode='cms' %]
<div id="main">
<p class="pankuzu"><a href="/cms/">CMS</a></p>
<div class="fixed"></div>
</div>
<div id="sidebar">

<div class="fixed"></div>
</div>
<div class="fixed"></div>
[% INCLUDE footer.inc %]
