[% INCLUDE header.inc %]
<div id="main">

[% FOREACH article_obj IN article_objs %]
<div class="article">
<h2>[% article_obj.name | html %]</h2>
<p class="updated_at">Bloged at : [% article_obj.bloged_at %]</p>
[% article_obj.article %]


[% INCLUDE information.inc %]

<div class="fixed"></div>
</div>
[% END %]

</div>

[% INCLUDE 'sidebar.inc' %]

<div class="fixed"></div>
[% INCLUDE footer.inc %]
