[% INCLUDE header.inc %]
<div id="main">

[% FOREACH article_obj IN article_objs %]
<div class="article">
<h2><a href="/[% article_obj.category_obj.key %]/[% article_obj.name | uri  %]">[% article_obj.name | html %]</a></h2>
<p class="updated_at">Bloged at : [% article_obj.bloged_at %]</p>
[% article_obj.article %]
[% INCLUDE information.inc %]
</div>
[% END %]
[% paging(pager) %]
<div class="fixed"></div>
</div>

[% INCLUDE 'sidebar.inc' %]

<div class="fixed"></div>
[% INCLUDE footer.inc %]
